<div class="jumbotron">
	<h1>Bienvenu sur la page d'accueil</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et <%= link_to "dolore magna", "#" %> aliqua. Ut enim ad minim veniam,
	</p>
	<p>
		<%= link_to "Inscrivez-vous", root_path, type: "button", class: "btn btn-primary btn-lg"%>
	</p>
</div>
